apiVersion: v1
kind: ConfigMap
metadata:
  name: nsight-streamer-supervisord
  namespace: nsight
data:
  supervisord.conf: |
    [supervisord]
    nodaemon=true
    user=root
    pidfile=/var/run/supervisord.pid
    logfile=/dev/null
    logfile_maxbytes=0
    loglevel=debug

    [unix_http_server]
    file=/var/run/supervisor.sock
    chmod=0700

    [supervisorctl]
    serverurl=unix:///var/run/supervisor.sock

    [rpcinterface:supervisor]
    supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

    [include]
    files=/etc/webrtc/supervisord/*.conf

    [program:x-server]
    environment=HOME="/home/%(ENV_USER)s",USER="%(ENV_USER)s",DISPLAY="%(ENV_DISPLAY)s"
    command=/bin/bash -c "/usr/bin/X -config /etc/webrtc/xorg.conf %(ENV_DISPLAY)s"
    autorestart=true
    priority=300
    user=%(ENV_USER)s
    stdout_logfile=/mnt/host/logs/xorg.log
    stdout_logfile_maxbytes=100MB
    redirect_stderr=true

    [program:xfwm4]
    environment=HOME="/home/%(ENV_USER)s",USER="%(ENV_USER)s",DISPLAY="%(ENV_DISPLAY)s"
    command=/bin/bash -c "source ~/.bashrc && /usr/lib/${ARCH_LIB_DIR}/xfce4/xfconf/xfconfd --daemon && /usr/bin/xfwm4"
    autorestart=true
    priority=300
    user=%(ENV_USER)s
    stdout_logfile=/mnt/host/logs/xfwm4.log
    stdout_logfile_maxbytes=100MB
    redirect_stderr=true

    [program:selkies]
    environment=HOME="/home/%(ENV_USER)s",USER="%(ENV_USER)s",DISPLAY="%(ENV_DISPLAY)s"
    command=/bin/bash -c "source ~/.bashrc && /setup/entrypoint-selkies-gstreamer.sh"
    stopsignal=KILL
    stopasgroup=true
    stopwaitsecs=5
    autorestart=false
    priority=800
    user=%(ENV_USER)s
    stdout_logfile=/mnt/host/logs/selkies-gstreamer.log
    stdout_logfile_maxbytes=100MB
    redirect_stderr=true

    [program:turnserver]
    environment=HOME="/home/%(ENV_USER)s",USER="%(ENV_USER)s"
    command=/bin/bash -c "/opt/pion/tcp -public-ip %(ENV_HOST_IP)s -users %(ENV_TURN_USERNAME)s=%(ENV_TURN_PASSWORD)s -realm %(ENV_TURN_REALM)s -port %(ENV_TURN_PORT)s"
    autorestart=true
    priority=300
    user=%(ENV_USER)s
    stdout_logfile=/mnt/host/logs/turnserver.log
    stdout_logfile_maxbytes=100MB
    redirect_stderr=true
